<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger[%thread]: ### %msg %ex%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <logger name="org.mybatis.spring" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.mchange" level="INFO"/>
    <logger name="org.apache.commons.beanutils" level="INFO"/>
    <logger name="org.apache.http.headers" level="INFO"/>
    <logger name="org.apache.http.wire" level="INFO"/>
    <logger name="org.apache.http.impl" level="INFO"/>
    <logger name="org.apache.http.client" level="INFO"/>
    <logger name="**" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>